# Server
PORT=8080

# Database
DB_URL=jdbc:postgresql://localhost:5432/sgd_hc
DB_USERNAME=
DB_PASSWORD=
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200

# JWT
JWT_SECRET=thatqIsMykeyregrdesawww233eggtwasoddgkjjhhtdhttebd54ndsiuuhhhshs8877465sbbdd
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Version que gradle usara para compilar el proyecto
MY_JAVA_VERSION=26