#Database
#DB_URL=jdbc:postgresql://localhost:5432/sgd_hc
DB_NAME=name_database
DB_USERNAME=your_username
DB_PASSWORD=your_password

# JWT
JWT_SECRET=thatqIsMykeyregrdesawww233eggtwasoddgkjjhhtdhttebd54ndsiuuhhhshs8877465sbbdd